.button {
	display: inline-flex;
	justify-content: center;
	position: relative;
	height: 40px;
	min-width: 45px;
	padding: 0 16px;
	background-color: #4066ff;
	border-radius: 100px;
	border: none;
	color: white;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: 0.4px;
	transition: background-color 0.3s ease;
	cursor: pointer;

	&:hover {
		background-color: #2f51db;
	}

	&.loading {
		background-color: #748ffb;

		& > .main-text {
			opacity: 0;
		}

		&::after {
			position: absolute;
			content: '...';
			color: white;
		}
	}
}
